<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head') %>

    <picture>
        <source srcset="images/site/small_check.png" media="(max-width:)">
        <img src="images/site/small_check.jpg" alt="" width="" height="">
    </picture>

<body>
    <div id="wrapper">
        <%- include('../partials/header') %>
        <%- include('../partials/navigation') %>

        <main>
            <%- body %>
        </main>

        <%- include('../partials/footer') %>
    </div>
</body>
</html>